<%- include('../partials/header'); -%>


<div class="container">
    <div class="form">
        <h1 class="heading">Edit <%= product.name %>!</h1>
        <form action="/products/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <input class="form-control" type="text"  name="name" value="<%= product.name %>" required>
                <input class="form-control" type="number" name="price" value="<%= product.price %>" min="0.1" step="0.1" required>
                <textarea class="form-control" type="text" name="description" required><%= product.description %></textarea>
                <label class="form-btn" for="file">Select Image</label>
                <input id="file" type="file" name="image"  value="<%= product.image %>" hidden>
                <label class="form-btn" for="Submit">Submit</label>
                <button id="Submit" hidden>Submit!</button>
        </form>
    </div>
</div>

<%- include('../partials/footer'); -%>