<%- include('../partials/header'); -%>

<div class="container">
    <div class="index-title">These are some Used Items from other Students and Facluty Members</div>
    <div class="products">
        <% products.forEach(function(product){ %>
            <div class="product">
                <div class="image"><img src="/<%= product.image %>" alt="There should be an image of the item!"></div>
                <div class="caption"><h4><%= product.name %></h4></div>
                <a class="btn" href="/products/<%= product._id %>">
                    More Info
                </a>
            </div>
        <% }); %>
    </div>
</div>


<%- include("../partials/footer"); -%>

