<%- include('../partials/header'); -%>

<div class="container">
    <div class="show-item">
      <div class="show-image">
        <img src="/<%= product.image %>"/>
      </div>
      <div class="caption-full">
        <div class="name-price">
          <h4 class="item-name">Item : <%= product.name %></h4>
          <h4 class="item-price">Price : ₹ <%= product.price %></h4>
        </div>
        <div class="description">
          <p>Description : <%= product.description %></p>
          <p>Submitted By : <strong><%= product.author.username %></strong></p>
        <div class="action-btn">
          <% if(currentUser && product.author.id.equals(currentUser._id)){ %>
            <a class="btn"
              href="/products/<%= product._id %>/edit"
              >Edit</a>
            <form

              action="/products/<%= product._id %>?_method=DELETE"
              method="POST"
            >
            <button class="btn-danger">Delete</button>
            </form>
            <% } %>
        </div>  
        </div>
      </div>
    </div>   
</div>


<%- include("../partials/footer"); -%>

