<%- include('../partials/header'); -%>
<link rel="stylesheet" href="/stylesheets/show.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>   

<%- include('../partials/nav'); -%>

<div class="show">
    <div class="show-item">
      <div class="show-image">
        <img src="/<%= product.image %>"/>
      </div>
      <div class="caption-full">
        <div class="name">
          Item : <%= product.name %>  
        </div>
        <div class="price">Price : ₹ <%= product.price %></div>
        <div class="description">
          Description : <%= product.description %>
        </div>
        <div class="submitted-by">
          Submitted By : <strong><%= product.author.email %>
        </div>
        <div class="action-btn">
          <% if(currentUser && product.author.id.equals(currentUser._id)){ %>
            <a class="btn"
            id="edit"
              href="/products/<%= product._id %>/edit"
              >Edit</a>
            <form
              action="/products/<%= product._id %>?_method=DELETE"
              method="POST"
            >
            <button class="btn" id="delete">Delete</button>
            </form>
            <% } %>
        </div>  
        </div>
      </div>
    </div>   
</div>


<%- include("../partials/footer"); -%>

